<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="google" content="notranslate"/>
        <link rel="stylesheet" type="text/css" href="/style/login.css">
        <link rel="stylesheet" type="text/css" href="/style/public/public_style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" href="${website_icon}">
        <title>管理员登录</title>
    </head>

    <body>
        <div class="login_style">
            <div class="text_box">
                <a class="login_text">Login in.</a>
            </div>
        </div>
    </body>
</html>