<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="google" content="notranslate"/>
        <link rel="stylesheet" type="text/css" href="/style/index.css">
        <link rel="stylesheet" type="text/css" href="/style/public/public_style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="icon" href="${website_icon}">
        <title>Frish2021的个人网站</title>
    </head>

    <body>
        <div class="main_style">
            <div class="headshot_box">
                <a href="/login"><img src="${headshot}" class="headshot" alt="headshot"></a>
            </div>

            <div class="name_box">
                <a class="name">
                    Frish2021
                </a>
            </div>

            <div class="article_box">
                <div class="article">
                    ${article}
                </div>
            </div>

            <div class="link_box">
                <div class="link_box">
                    <a href="${github}">Github</a>&nbsp;|&nbsp;<a href="${gitee}">Gitee</a>&nbsp;|&nbsp;<a href="${bilibili}">Bilibili</a>&nbsp;|&nbsp;<a href="${mail}">Mail</a>
                </div>
            </div>
        </div>
    </body>
</html>
